@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 1rem;
  line-height: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000; }

h1, h2, h3, h4, h5 {
  margin-bottom: 1.5rem;
  font-family: "Fjalla One", sans-serif; }

h1, .h1 {
  font-size: 3rem; }

h2, .h2 {
  font-size: 2.5rem; }

h3, .h3 {
  font-size: 1.8rem; }

h4, .h4 {
  font-size: 1rem; }

a {
  color: #fff !important;
  transition: all 0.3s ease-out;
  outline: none;
  display: inline-block; }

a:hover,
a:focus {
  color: #cb1a2b;
  text-decoration: none; }

img {
  max-width: 100%; }

.red-btn {
  background-color: #cb1a2b;
  border-color: #cb1a2b; }
  .red-btn :hover {
    background-color: #17573f;
    border-color: #17573f; }

header {
  color: #fff;
  background-color: #1c2334; }

.logo img {
  width: auto;
  height: 50px; }

header li a {
  margin-right: 50px; }

.footer {
  background-color: #1c2334;
  color: #000; }

.footer-nav {
  margin: 1.5em 0; }

.footer-nav #nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0; }

.footer-nav #nav-menu li a {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  padding: 2px 17px 1px;
  height: 17px;
  margin: 0 1.5em;
  color: #fff;
  text-decoration: none; }

.footer-nav #nav-menu li a:hover {
  background-color: #17573f; }

.copyright {
  background-color: #171e2d !important; }

.copyright p {
  margin: 2.1em 0; }

.social {
  padding: 0 128.5px;
  background-image: url(..//images/1920759green.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }
  .social .market-title {
    padding-top: 64px; }
    .social .market-title p {
      margin-top: 1.8em; }
    .social .market-title h6 {
      font-family: 'Permanent Marker', cursive !important;
      color: #cb1a2b !important;
      font-size: 22px;
      margin: 0; }
    .social .market-title h2 {
      margin: 0.4em 0 0 0;
      color: #1c2334;
      line-height: 1.2em;
      font-family: "Fjalla One",sans-serif;
      font-size: 3.056em;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.1px; }

.social-icon {
  text-align: left;
  margin-top: 15px; }
  .social-icon a {
    background-color: #cb1a2b;
    padding: 6px 9px;
    margin: 0px 15px;
    display: inline-block; }
  .social-icon a:hover {
    background-color: #17573f; }
  .social-icon a:first-child {
    margin-left: 0; }
  .social-icon i {
    font-size: 27px;
    color: #fff; }

.buy-token {
  padding: 0 128.5px;
  margin-top: 1.05em;
  background-image: url(..//images/1920550_new.jpeg);
  background-position: center right;
  background-repeat: no-repeat; }
  .buy-token .doc-btn {
    margin-top: 37px;
    margin-bottom: 128px; }
    .buy-token .doc-btn a {
      font-family: "Fjalla One", sans-serif;
      color: #fff;
      font-size: 0.889em;
      font-weight: 400;
      font-style: normal;
      line-height: 1em;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1em 2.2em;
      letter-spacing: 0.85px;
      border-radius: 0px; }

.market-title h1 {
  color: #fff;
  margin-top: 48px;
  margin-bottom: 16px; }

.btn.btn-primary {
  margin: 20px 0 !important; }

#register_form fieldset:not(:first-of-type) {
  display: none; }

.wpcf7-not-valid-tip {
  color: #cb1a2b; }

.btn.btn-info {
  color: #17573f; }

.btn.btn-default {
  color: #cb1a2b; }

.main {
  margin: 100px auto;
  text-align: center; }

button {
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  border: 1px solid lightblue;
  color: lightblue; }

.body-bg {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 20pt;
  font-weight: normal;
  background: lightblue;
  background: -webkit-linear-gradient(-90deg, lightblue, black);
  background: -o-linear-gradient(-90deg, lightblue, black);
  background: -moz-linear-gradient(-90deg, lightblue, black);
  background: linear-gradient(-90deg, lightblue, black); }

#fname.error-show {
  border: 2px solid #d73333 !important;
  box-shadow: 1px 2px 4px rgba(215, 51, 51, 0.11); }

#fname.error-show {
  background: rgba(255, 5, 5, 0.04); }

.form-control:focus {
  outline: 0;
  box-shadow: none; }

/*# sourceMappingURL=main.css.map */
