$color-red:#cb1a2b;
$color-black:#000;
$color-white:#fff;
$header-color:#1c2334;
$color-green:#17573f;
$flex:flex;
$font-Fjalla:"Fjalla One", sans-serif;
$font-lato: 'Lato', sans-serif;
$side-padding:128.5px;